.popup {
  position: absolute;
  top: -47px;
  left: -100px;
  right: -13px;
  bottom: -54px;
  border-radius: 38px;
  background-color: #fff;
  padding: 45px 135px 100px 175px;
  z-index: 3;
  visibility: hidden;
  opacity: 0;
  transition: opacity 300ms ease-in, visibility 0ms ease-in 300ms;
}

.popup_visible {
  visibility: visible;
  opacity: 1;
  transition-delay: 0ms;
}

.popup__title {
  margin-bottom: 22px;
  padding-left: 0;
}

.popup__subtitle {
  margin-bottom: 21px;
  padding-left: 8px;
}

.popup__features {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 50px;
}

.popup__close {
  position: absolute;
  width: 33px;
  height: 33px;
  top: 38px;
  right: 29px;
  cursor: pointer;
}
