.features {
  background-image: url('../../images/background-3.jpeg');
  background-size: cover;
  padding: 163px 71px 0px 0px;
  position: relative;
}

.features__title {
  margin-bottom: 64px;
}

.features__subtitle {
  margin-bottom: 20px;
}

.features__mosaics {
  display: flex;
  gap: 30px;
}

.features__overlay {
  min-height: 768px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(22, 39, 62, 0.7);
  z-index: 2;
  visibility: hidden;
  opacity: 0;
  transition: opacity 300ms ease-in, visibility 0ms ease-in 300ms;
}

.features__overlay_type_visible {
  visibility: visible;
  opacity: 1;
  transition-delay: 0ms;
}

.features__column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.features__container {
  position: relative;
  margin-left: 270px;
  max-width: 800px;
}

.features__bottle {
  position: absolute;
  z-index: 4;
  width: 235px;
  left: -222px;
  top: -85px;
  pointer-events: none;
}

.features__bubble {
  position: absolute;
  pointer-events: none;
}

.features__bubble_type_1 {
  z-index: 3;
  width: 42px;
  height: 42px;
  top: -86px;
  left: -70px;
  animation: bubble1-animation 6s ease-in-out infinite;
}

.features__bubble_type_2 {
  z-index: 4;
  width: 72px;
  height: 72px;
  top: 25px;
  left: -75px;
  animation: bubble2-animation 5s ease-in-out infinite;
}

.features__bubble_type_3 {
  z-index: 3;
  width: 32px;
  height: 32px;
  top: 52px;
  left: -192px;
  animation: bubble3-animation 9s ease-in-out infinite;
}

.features__bubble_type_4 {
  z-index: 3;
  width: 117px;
  height: 117px;
  top: 177px;
  left: -77px;
  animation: bubble4-animation 9s ease-in-out infinite;
}

.features__bubble_type_5 {
  z-index: 3;
  width: 32px;
  height: 32px;
  top: 310px;
  left: -261px;
  animation: bubble5-animation 6s ease-in-out infinite;
}

.features__bubble_type_6 {
  z-index: 4;
  width: 90px;
  height: 90px;
  top: 397px;
  left: -231px;
  animation: bubble6-animation 10s ease infinite;
}

.features__bubble_type_7 {
  z-index: 3;
  width: 82px;
  height: 82px;
  top: 429px;
  left: -28px;
  animation: bubble7-animation 9s ease-in-out infinite;
}

.features__bubble_type_8 {
  z-index: 4;
  width: 133px;
  height: 133px;
  top: 556px;
  left: -53px;
  animation: bubble8-animation 10s ease infinite;
}

@keyframes bubble1-animation {
  0% {
    transform: translate(10px, -10px);
  }

  50% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(10px, -10px);
  }
}

@keyframes bubble2-animation {
  0% {
    transform: translate(-20px, -20px);
  }

  50% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(-20px, -20px);
  }
}

@keyframes bubble3-animation {
  0% {
    transform: translate(20px, 5px);
  }

  50% {
    transform: translate(-10px, 0);
  }

  100% {
    transform: translate(20px, 5px);
  }
}

@keyframes bubble4-animation {
  0% {
    transform: translate(-20px, 0) scale(1);
  }

  25% {
    transform: translate(10px, 15px) scale(1);
  }

  60% {
    transform: translate(20px, 10px) scale(1.2);
  }

  100% {
    transform: translate(-20px, 0) scale(1);
  }
}

@keyframes bubble5-animation {
  0% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(40px, 10px);
  }

  100% {
    transform: translate(0, 0);
  }
}

@keyframes bubble6-animation {
  0% {
    transform: translate(-10px, 0) scale(1.2);
  }

  50% {
    transform: translate(20px, 10px) scale(1);
  }

  100% {
    transform: translate(-10px, 0) scale(1.2);
  }
}

@keyframes bubble7-animation {
  0% {
    transform: translate(0, 0);
  }

  80% {
    transform: translate(-20px, -30px);
  }

  100% {
    transform: translate(0, 0);
  }
}

@keyframes bubble8-animation {
  0% {
    transform: translate(0, 0) scale(1);
  }

  50% {
    transform: translate(-20px, -10px) scale(1.3);
  }

  100% {
    transform: translate(0, 0) scale(1);
  }
}
